
.container{
    background-color: hsl(0, 0%, 15%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page{
    max-width: 2000px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.pageContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
}

@media screen and (min-height: 1080px) {
    .pageContainer {
        height: 1080px;
        width: 100%;
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .pageContainer{
        flex-direction: column-reverse;
    }
}